@model RegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kayıt Ol</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/AdminLTE-3.1.0/AdminLTE-3.1.0/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/AdminLTE-3.1.0/AdminLTE-3.1.0/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/AdminLTE-3.1.0/AdminLTE-3.1.0/dist/css/adminlte.min.css">
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a href="../../index2.html"><b>Kayıt</b>Oluştur</a>
        </div>
        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">Yeni kayıt oluştur</p>

                <form method="post">
                    <div asp-validation-summary="ModelOnly"></div>
                    @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="Name" placeholder="Adınız">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(x => x.Surname, "", new { @class = "text-danger" })

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="Surname" placeholder="Soyadınız">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(x => x.UserName, "", new { @class = "text-danger" })

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="UserName" placeholder="Kullanıcı Adınız">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })

                    <div class="input-group mb-3">
                        <input type="email" class="form-control" name="Email" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })

                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="Password" placeholder="Şifre">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })

                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="ConfirmPassword" placeholder="Şifre Tekrar">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>            
                    <div class="row">
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Kayıt Ol</button>
                        </div>
                    </div>
                </form>
                
                <a href="/Login/Index/" class="text-center">Giriş Yap</a>
            </div>
        </div><!-- /.card -->
    </div>
    <script src="~/AdminLTE-3.1.0/AdminLTE-3.1.0/plugins/jquery/jquery.min.js"></script>
    <script src="~/AdminLTE-3.1.0/AdminLTE-3.1.0/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/AdminLTE-3.1.0/AdminLTE-3.1.0/dist/js/adminlte.min.js"></script>
</body>
</html>
